.step {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 2em;
}

.step > * {
    position: absolute;
}

h1 {
    top: -300px;
    font-size: 3em;
    font-weight: bold;
    color: #dd7c49;
    text-transform: uppercase;
}

h2 {
    top: -100px;
    font-size: 1.5em;
}

ul {
    list-style-type: disc;
}

xmp {
    font-size: 0.8em;
}

#firstpage h1,
#firstpage h2 {
    right: 0;
}

#firstpage .authors {
    bottom: -200px;
}

#tutorial .example {
    top: -100px;
    left: -150px;
    height: 450px;
}

#examples h1 {
    top: -350px;
}

#examples iframe {
    top: -200px;
    left: -150px;
    height: 800px;
    width: 1200px;
}

#tutorial .arrow {
    top: -70px;
    right: -100px;
    height: 300px;
}

#tutorial .tutorial-url {
    bottom: -350px;
}

#tutorial xmp {
    right: -200px;
    bottom: -300px;
}

#tutorial-installation xmp {
    top: -100px;
    left: -200px;
    background-color: #004040;
}

#tutorial-installation .workbench {
    bottom: -350px;
    right: -200px;
}

#tutorial-new-xblock xmp {
    top: -150px;
    left: -100px;
    width: 1000px;
    font-size: 0.7em;
    background-color: #004040;
}

#tutorial-new-xblock span {
    color: #fff;
}

#tutorial-registering .setuppy {
    top: -100px;
    left: -250px;
}

#tutorial-registering .and {
    top: 10px;
    right: 130px;
    font-size: 5em;
}

#tutorial-registering .pip {
    bottom: -100px;
    right: -250px;
    width: 300px;
    background-color: #004040;
}

#tutorial-fields .xml {
    top: -150px;
    left: -170px;
    width: 1200px;
}

#tutorial-fields .arrow {
    left: 380px;
    top: -10px;
    height: 68px;
    width: 100px;
}

#tutorial-fields .python {
    left: -170px;
    width: 1200px;
}

#tutorial-student-view .student-view {
    bottom: -200px;
    left: -200px;
    width: 1100px;
}

#tutorial-student-view .bubble {
    top: -170px;
    height: 300px;
    width: 460px;
    right: -200px;
}

#tutorial-student-view .template {
    right: -170px;
    width: 300px;
    background-color: transparent;
    top: -110px;
}

#tutorial-css xmp {
    top: -100px;
    left: -50px;
    width: 1000px;
}

#tutorial-js .student-view {
    top: -100px;
    left: -200px;
    width: 1100px;
}

#tutorial-js .bubble {
    height: 300px;
    width: 700px;
    right: -250px;
    bottom: -300px;

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

#tutorial-js .js {
    width: 600px;
    right: -280px;
    bottom: -270px;
    background-color: transparent;
}

#tutorial-ajax .js {
    top: -100px;
    left: -250px;
    width: 670px;
}

#tutorial-ajax .python {
    top: -100px;
    right: -200px;
    width: 550px;
    background-color: #004040;
}

#tutorial-scenario xmp {
    top: -150px;
    left: -200px;
    background-color: #004040;
    font-size: 0.7em;
}

#tutorial-scenario .workbench {
    bottom: -300px;
    right: -250px;
    height: 400px;
}

